footer .social-links {
	margin: 0 1rem;
}

footer {
	position: fixed;
	display: block;
	bottom: 0;
	right: 0;
	text-align: right;
	color: white;
	font-size: 0.7rem;
	width: 100%;
}

.fab {
	font-size: 1.2rem;
	color: rgba(223, 139, 14, 0.7);
	padding: 0.2rem;
	outline: none;
}

@media only screen and (max-width: 600px) {
	footer {
		/* position: fixed; */
		/* display: inline-block; */
		margin: 0;
		background-color: black;
		width: 100vw;
		text-align: right;
	}
}
