:root {
	--orange: rgba(223, 139, 14, 0.7);
	--grey: rgba(92, 92, 100, 0.6);
}

.port-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
	margin-top: 3rem;
	min-height: 90vh;
	color: white;
}

.port-item {
	border: 2px solid var(--grey);
	display: flex;
	flex-direction: column;
	width: 30%;
	max-height: 600px;
	margin: 1%;
	border-radius: 25px;
	transition: all 0.3s ease-in-out;
	min-width: 400px;
	overflow: hidden;
	box-shadow: 2px 5px 5px var(--grey);
}

.port-item-title {
	background-color: var(--grey);
	min-height: 10%;
	font-family: var(--text-head);
}

.port-item-title h3 {
	font-size: 1.2rem;
	padding: 0.4rem;
	margin: 0.2rem 0;
}

.port-item-title h5 {
	font-family: var(--text-body);
	font-size: 0.75rem;
	padding: 0.4rem;
	margin: 0;
}

.port-item-tagList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 100%;
	list-style: none;
}

.port-item-tagList li {
	background: var(--orange);
	color: black;
	text-transform: uppercase;
	font-size: 0.7rem;
	font-weight: bold;
	min-width: 30px;
	border-radius: 5px;
	padding: 0.1rem 0.2rem;
	margin: 0.1rem 0.2rem;
}

.port-item img {
	opacity: 0.7;
	margin: 0 auto;
	max-width: 95%;
	border-radius: 15px;
	margin-bottom: 1rem;
}

.port-item-desc {
	min-height: 30%;
	margin: 0.5rem 1rem;
}
.port-item-desc p {
	white-space: pre-wrap;
}

.port-item-hrefs {
	margin-bottom: 0.5rem;
	width: 100%;
}
.port-item-hrefs a {
	text-decoration: none;
	font-size: 0.9rem;
	margin: 1rem;
	padding: 0.5rem;
	color: var(--white);
	border: 2px solid var(--orange);
	border-radius: 15px;
}
.port-item-hrefs a:hover {
	opacity: 0.7;
}
.port-item-hrefs a:focus {
	outline: none;
}
