/**********************
Sidebar
**********************/

.sidebar {
	flex: 1;
	/* background-image: repeating-linear-gradient(
			45deg,
			rgba(224, 123, 50, 0.06) 0px,
			rgba(224, 123, 50, 0.06) 2px,
			transparent 2px,
			transparent 4px
		),
		linear-gradient(45deg, rgba(92, 92, 100, 0.6), rgba(23, 23, 27, 0.6)); */
	border-radius: 15px;
	border-right: 5px solid transparent;
	border-left: 50px solid var(--orange);
	/* border-top: 5px solid var(--orange); */
	/* border-bottom: 30px solid var(--orange); */
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 30vw;
	max-width: 300px;
	margin-left: 2rem;
	margin-top: 1rem;
	max-height: 100vw;
	/* min-height: 80vw; */
	/* border-bottom: 20px solid transparent; */
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
}

.img-headshot {
	border-radius: 50%;
	border: 6px double rgba(223, 139, 14, 0.5);
	height: 40%;
	min-height: 200px;
	max-height: 600px;
	margin-bottom: 1rem;
	z-index: 500;
}

.sidebar--deets {
	background: rgba(26, 15, 15, 0.2);

	border-radius: 15px;
	width: 100%;
	color: white;
}

.skills {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	/* flex-direction: column; */
	list-style: none;
	padding: 0;
}

.skill-title {
	margin: 0;
	padding: 0;
	font-size: 0.8rem;
}

.skills div {
	padding: 0.4rem;
}

.skills i {
	font-size: 3rem;
}

@media only screen and (max-width: 600px) {
	.sidebar {
		position: fixed;
		margin-top: -30px;
		margin-left: -30px;
		top: 0;
		left: 0;
		background: none;
		z-index: 999;
		border: none;
	}

	.img-headshot {
		min-height: 100px;
		max-width: 100px;
		z-index: 999;
	}
	.sidebar--deets {
		display: none;
	}
	.skills {
		display: none;
	}
}
