.container-contact {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: center;
	margin-top: 4rem;
	color: white;
	min-height: 90vh;
}

.contact-blurb {
	font-size: 1.1rem;
	margin: 2rem;
}

.form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 4px solid rgba(223, 139, 14, 0.7);
	border-right: 6rem solid transparent;
	border-left: 6rem solid transparent;
	border-top: 4px solid rgba(223, 139, 14, 0.7);
}
.form-container form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	max-width: 870px;
	background: rgba(190, 190, 190, 0.4);
	border-radius: 15px;
	margin: 2rem 0;
	padding: 2rem;
}

.form-container form label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 0.5rem;
}

.form-container form input,
#subject {
	margin: 0.2rem;
	width: 500px;
	padding: 0.5rem;
	border: none;
	border-radius: 10px;
}

.submit-btn {
	width: 50%;
	max-width: 200px;
	outline: none;
	border: none;
	border-radius: 10px;
	padding: 0.5rem;
	background-color: green;
	color: white;
	font-weight: bolder;
}

@media only screen and (max-width: 600px) {
	.form-container form label {
		width: 100%;
	}

	.form-container form label input,
	#subject {
		width: 100%;
	}

	.container-contact {
		width: 100%;
	}
	.form-container form {
		width: 90vw;
	}

	#subject {
		width: 90%;
	}
}
