.container-contact {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	margin-top: 4rem;
	width: 100vw;
	height: 100%;
	color: white;
}

.form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 4px solid rgba(223, 139, 14, 0.7);
	border-right: 6rem solid transparent;
	border-left: 6rem solid transparent;
	border-top: 4px solid rgba(223, 139, 14, 0.7);
}
.form-container form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	max-width: 870px;
	background: rgba(190, 190, 190, 0.4);
	border-radius: 15px;
	margin: 2rem 0;
	padding: 2rem;
	/* flex-direction: column; */
	width: 100%;
}

.form-container form label input,
#subject {
	/* align-self: center; */
	/* flex: 1; */
	padding: 0.5rem;
	margin: 0.5rem;
	width: 400px;
	/* max-width: 500px; */
	/* max-width: 400px; */
	border: none;
	border-radius: 10px;
}

.form-container form label {
	display: flex;
	align-items: center;
	justify-content: center;
	/* margin-left: 50%; */
	/* transform: translateX(-50%); */
	width: 100%;
	margin-bottom: 0.5rem;
}

#subject {
	max-width: 600px;
}
.submit-btn {
	width: 50%;
	/* justify-self: center; */
	/* margin-right: 50%; */
	/* transform: translateX(50%); */
	max-width: 200px;
	outline: none;
	border: none;
	border-radius: 10px;
	padding: 0.5rem;
	background-color: green;
	color: white;
	font-weight: bolder;
}

@media only screen and (max-width: 600px) {
	.form-container form label {
		flex-direction: column;
		width: 80%;
	}

	.form-container form label input,
	#subject {
		width: 100%;
	}

	.container-contact {
		width: 100%;
	}
	.form-container form {
		width: 90vw;
	}

	#subject {
		width: 90%;
	}
}
