/**********************
Main
**********************/
.container-home {
	display: flex;
	width: 100%;
	height: 100%;
}

.main {
	flex: 4;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
	text-align: center;
	max-width: 70vw;
}

.about-blurb {
	max-width: 800px;
}

.action-btn {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	padding: 0.4rem;
	margin: 1rem;
	color: black;
	font-weight: bolder;
	border: 2px solid rgba(223, 139, 14, 0.9);
	background-color: rgba(223, 139, 14, 0.9);
	border-radius: 15px;
	width: 38%;
	max-width: 200px;
	text-align: center;
	transition: all 0.3s ease;
}

.action-btn:hover {
	opacity: 0.7;
	border: 2px solid rgba(223, 139, 14, 0.9);
}

@media only screen and (max-width: 600px) {
	.main {
		margin-top: 1rem;
		max-width: 90vw;
		/* border: 2px solid blue; */
	}

	.btns {
		margin: 0;
		max-width: 400px;
	}

	.action-btn {
		max-width: 100px;
		max-height: 50px;
		font-size: 0.75rem;
		padding: 0.2rem;
	}
}
