/**********************
Sidebar
**********************/

.sidebar {
	flex: 1;
	/* background-image: linear-gradient(
		to right,
		rgba(58, 55, 55, 0.7),
		rgba(26, 15, 15, 0.2)
	); */
	background-image: repeating-linear-gradient(
			45deg,
			rgba(224, 123, 50, 0.06) 0px,
			rgba(224, 123, 50, 0.06) 2px,
			transparent 2px,
			transparent 4px
		),
		linear-gradient(45deg, rgba(92, 92, 100, 0.6), rgba(23, 23, 27, 0.6));
	border-radius: 15px;
	border-left: 2px solid transparent;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 30vw;
	max-width: 300px;
	margin-top: 1rem;
	max-height: 100%;
}

.img-headshot {
	border-radius: 50%;
	border: 6px double rgba(235, 173, 2, 0.486);
	height: 40%;
	min-height: 200px;
	max-height: 600px;
	margin-bottom: 1rem;
}

.sidebar--deets {
	background: rgba(26, 15, 15, 0.2);
	border-radius: 15px;
	width: 100%;
	color: white;
}

.skills {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0;
}

.skills li {
	padding: 0.4rem;
}

@media only screen and (max-width: 600px) {
	.sidebar {
		position: fixed;
		margin-top: -30px;
		margin-left: -30px;
		top: 0;
		left: 0;
		background: none;
	}

	.img-headshot {
		min-height: 100px;
		max-width: 100px;
	}
	.sidebar--deets {
		display: none;
	}
	.skills {
		display: none;
	}
}
