.App {
	background-image: repeating-linear-gradient(
			45deg,
			rgba(224, 123, 50, 0.06) 0px,
			rgba(224, 123, 50, 0.06) 2px,
			transparent 2px,
			transparent 4px
		),
		linear-gradient(45deg, rgb(92, 92, 100), rgb(23, 23, 27));
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
}

/**********************
Main Content
**********************/
.container-main {
	display: flex;
	overflow: auto;
	justify-content: space-around;
	align-items: center;
	max-width: 95vw;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
}
