.App {
	background: rgba(58, 55, 55, 0.8);
	min-height: 100vh;
}

/**********************
Main Content
**********************/
.container-main {
	display: flex;
	overflow: auto;
	justify-content: space-around;
	align-items: center;
	max-width: 95vw;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
}
